@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  background-color: hsl(0, 0%, 98%);
  text-align: center;
}

.first-text h2 {
  color: hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.second-text h2 {
  color: hsl(234, 12%, 34%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.description {
  color: hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.row {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 20px;
  justify-content: center;
}

.cards {
  padding: 100px 30px 30px 100px;
  margin: auto;
}

.card-heading h3 {
  color: hsl(234, 12%, 34%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: left;
  padding: 15px;
}

.card-body p {
  color: hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  padding: 15px;
}

.card-icon img {
  padding: 30px 30px;
  float: right;
  height: 200px;
  width: 200px;
}

.info {
  transition: .2s;
  transform: translateY(1em);
  padding: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.pizza-hut-card {
  background-color: white;
  border-top: hsl(180, 62%, 55%) 3px solid;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 50px;
  position: relative;
}

.pizza-hut-card:hover {
  background-color: #e6e6e6;
}

.pizza-hut-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(69, 211, 211, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.pizza-hut-card:hover .pizza-hut-infos {
  visibility: visible;
  opacity: 1;
}

.pizza-hut-card:hover .info {
  transform: translateY(0);
}

.mcdonals-card {
  background-color: white;
  border-top: hsl(0, 78%, 62%) 3px solid;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 50px;
  position: relative;
}

.mcdonals-card:hover {
  background-color: #e6e6e6;
}

.mcdonals-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(234, 83, 83, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.mcdonals-card:hover .mcdonals-infos {
  visibility: visible;
  opacity: 1;
}

.mcdonals-card:hover .info {
  transform: translateY(0);
}

.kfc-card {
  background-color: white;
  border-top: hsl(34, 97%, 64%) 3px solid;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 50px;
  position: relative;
}

.kfc-card:hover {
  background-color: #e6e6e6;
}

.kfc-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 175, 74, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.kfc-card:hover .kfc-infos {
  visibility: visible;
  opacity: 1;
}

.kfc-card:hover .info {
  transform: translateY(0);
}

.black-delivery-card {
  background-color: white;
  border-top: hsl(0, 0%, 0%) 3px solid;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 50px;
  position: relative;
}

.black-delivery-card:hover {
  background-color: #e6e6e6;
}

.black-delivery-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.black-delivery-card:hover .black-delivery-infos {
  visibility: visible;
  opacity: 1;
}

.black-delivery-card:hover .info {
  transform: translateY(0);
}

.pizza-madness-card {
  background-color: white;
  border-top: hsl(285, 100%, 40%) 3px solid;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 50px;
  position: relative;
}

.pizza-madness-card:hover {
  background-color: #e6e6e6;
}

.pizza-madness-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(153, 0, 204, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.pizza-madness-card:hover .pizza-madness-infos {
  visibility: visible;
  opacity: 1;
}

.pizza-madness-card:hover .info {
  transform: translateY(0);
}

.dunkin-donuts-card {
  background-color: white;
  border-top: hsl(120, 100%, 50%) 3px solid;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 50px;
  position: relative;
}

.dunkin-donuts-card:hover {
  background-color: #e6e6e6;
}

.dunkin-donuts-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 255, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.dunkin-donuts-card:hover .dunkin-donuts-infos {
  visibility: visible;
  opacity: 1;
}

.dunkin-donuts-card:hover .info {
  transform: translateY(0);
}