<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/caching-template-style.css" th:href="@{/css/caching-template-style.css}">
    <title>TechMenu</title>
</head>
<body>

<div class="first-text">
    <h2>TechMenu</h2>
</div>

<div class="second-text">
    <h2>Powered by Technology</h2>
</div>

<div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut molestias, porro. Fuga iusto saepe
        voluptatibus.</p>
</div>

<div class="cards">
    <div class="row">
        <div class="pizza-hut-card">
            <div class="card-heading">
                <h3>Pizza Hut</h3>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, expedita?</p>
            </div>
            <div class="card-icon">
                <img src="../static/images/pizza-hut.png" alt="pizza hut" th:src="@{/images/pizza-hut.png}">
            </div>

            <div class="pizza-hut-infos">
                <p class="info" th:text="${pizzaHut.ownerName}">Owner Name</p>
                <p class="info" th:text="${pizzaHut.capacity}">Capacity</p>
                <p class="info" th:text="${pizzaHut.address}">Address</p>
                <p class="info" th:text="${pizzaHut.phoneNumber}">Phone Number</p>
            </div>
        </div>

        <div class="mcdonals-card">
            <div class="card-heading">
                <h3>McDonalds</h3>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, sunt.</p>
            </div>
            <div class="card-icon">
                <img src="../static/images/mcdonalds.png" alt="mcdonalds" th:src="@{/images/mcdonalds.png}">
            </div>

            <div class="mcdonals-infos">
                <p class="info" th:text="${mcdonalds.ownerName}">Owner Name</p>
                <p class="info" th:text="${mcdonalds.capacity}">Capacity</p>
                <p class="info" th:text="${mcdonalds.address}">Address</p>
                <p class="info" th:text="${mcdonalds.phoneNumber}">Phone Number</p>
            </div>
        </div>

        <div class="kfc-card">
            <div class="card-heading">
                <h3>KFC</h3>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, modi.</p>
            </div>
            <div class="card-icon">
                <img src="../static/images/kfc.png" alt="kfc" th:src="@{/images/kfc.png}">
            </div>

            <div class="kfc-infos">
                <p class="info" th:text="${kfc.ownerName}">Owner Name</p>
                <p class="info" th:text="${kfc.capacity}">Capacity</p>
                <p class="info" th:text="${kfc.address}">Address</p>
                <p class="info" th:text="${kfc.phoneNumber}">Phone Number</p>
            </div>
        </div>

        <div class="black-delivery-card">
            <div class="card-heading">
                <h3>Black Delivery</h3>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, in?</p>
            </div>
            <div class="card-icon">
                <img src="../static/images/black-delivery.jpg" alt="black delivery" th:src="@{/images/black-delivery.jpg}">
            </div>

            <div class="black-delivery-infos">
                <p class="info" th:text="${blackDelivery.ownerName}">Owner Name</p>
                <p class="info" th:text="${blackDelivery.capacity}">Capacity</p>
                <p class="info" th:text="${blackDelivery.address}">Address</p>
                <p class="info" th:text="${blackDelivery.phoneNumber}">Phone Number</p>
            </div>
        </div>

        <div class="pizza-madness-card">
            <div class="card-heading">
                <h3>Pizza Madness</h3>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, quidem?</p>
            </div>
            <div class="card-icon">
                <img src="../static/images/pizza-madness.jpg" alt="pizza madness" th:src="@{/images/pizza-madness.jpg}">
            </div>

            <div class="pizza-madness-infos">
                <p class="info" th:text="${pizzaMadness.ownerName}">Owner Name</p>
                <p class="info" th:text="${pizzaMadness.capacity}">Capacity</p>
                <p class="info" th:text="${pizzaMadness.address}">Address</p>
                <p class="info" th:text="${pizzaMadness.phoneNumber}">Phone Number</p>
            </div>
        </div>

        <div class="dunkin-donuts-card">
            <div class="card-heading">
                <h3>Dunkin Donuts</h3>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, repellat!</p>
            </div>
            <div class="card-icon">
                <img src="../static/images/dunkin-donuts.png" alt="dunkin donuts" th:src="@{/images/dunkin-donuts.png}">
            </div>

            <div class="dunkin-donuts-infos">
                <p class="info" th:text="${dunkinDonuts.ownerName}">Owner Name</p>
                <p class="info" th:text="${dunkinDonuts.capacity}">Capacity</p>
                <p class="info" th:text="${dunkinDonuts.address}">Address</p>
                <p class="info" th:text="${dunkinDonuts.phoneNumber}">Phone Number</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>